



/*

@import url('//fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic');
@font-face {
  font-family: GentiumPlus;
  src: url(GentiumPlus-R.woff);
}
@font-face {
  font-family: GentiumPlus;
  font-style: italic;
  src: url(GentiumPlus-I.woff);
}
*/

body { background: url(bg_lt.png); }

header {padding:0; margin-top:0px; padding-bottom: 2em;}
header .logo { margin-top: -4px; margin-left:-18px;  }
header .maintitle {
    line-height: 1.25em;  padding-top: .5em;
    margin-top:-16px;  padding-left:5px; margin-left: 65px;
}
header .subtitle {margin-left: 70px;}
header #primary_links { padding-top:10px; }

.application {
  max-width: 750px; margin-right:auto; margin-left:auto;
  border-radius: 1em; background-color: #FAFAFA; margin: 2em; padding: .1em; padding-top:0; padding-bottom: 2em;
  border: .2em solid gray;
  box-shadow: 0px 0px 8px #FFF;
}

/* Add word form */
#addword-input-form {
  margin: 0;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0px 0px 2px #aaa;
  font-size: 18pt;
  border: 1px solid silver;
  padding: 15px;
}
#addword-input-form input {height: 34pt; font-size: 18pt; width:100%; }
table.add-word-form td { padding:0;  }
table.add-word-form td.term {width: 54%; padding-right:5px;}
table.add-word-form td.ref {padding-right:5px;}
button#addform-btn {font-size: 12pt;}

table #rendered-word {padding-left: .5em; padding-top: .5em; font-weight: bold;
  /*font-family: "Libre Baskerville", "Times New Roman", serif;*/
  font-size: 18pt; letter-spacing: 210%;
  word-spacing: 110%;
}
table td.ref-example {font-size: 10pt; color: gray; font-style: italic; }



#terms-search td.term {font-size: 14pt;}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#terms-table td.term {
  font-size: 14pt;
 }
#terms-table td.id {
  font-size: 9pt; color: silver;

 }

.alert {
  color: red;
  font-size: 15px;
}

