<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Interminable - A Transliteration Suggestion Builder</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Transliterated Spelling Suggestions">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/ios/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/ios/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/ios/apple-touch-icon-144x144-precomposed.png" />
        <link rel="stylesheet" href="assets/css/app.css">
    </head>
    <body>
        <div class="container application">
            <header></header>
            <div id="maincontent"></div>
            <footer></footer>
        </div>


        <a href="https://github.com/chadananda/accents"><img
        style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
     </body>
</html>




<!-- templates & code -->

<!--  #navbar -->
<script type="text/template" id="navbar-template" charset="utf-8" >
    <div id="primary_links"></div>
    <image src="assets/img/sizes/full-logo-beta-square-sm-64.png" class="pull-left logo"/>
    <h3 class="text-muted maintitle"> Interminable<br>Accents</h3>
    <p class="text-muted subtitle"> A proof of concept suggestion builder for Baha&rsquo;i terms </p>
</script>
<script type="text/template" id="navbar-links-template">
    <li class="active"><a href="#add"><i class="fa fa-plus"></i> &nbsp;Add Words</a></li>
    <li><a href="#correct"><i class="fa fa-check"></i> &nbsp;Verification</a></li>
    <li><a id="login-link" href="#login"><i class="fa fa-sign-in"></i> &nbsp; Login </a></li>
</script>


<!-- add links main content page -->
<script type="text/template" id="add-term-main-layout-template">
    <div id="add-term-form"></div>
     <div id="similar-terms">
         <div class="form-group" style="  width: 100%;margin: 0;margin-bottom: 1em;background-color: #eee;border-radius: 6px;box-shadow: 0px 0px 2px #aaa;border: 1px solid silver;padding: 10px 15px;">
         <label style="font-size: 18pt;">Similar Terms</label><br/>
        <div> <span style="  font-size: 14pt;color:#454545;">3 Exact Matches,none verified</span><br/>
           <ul style="list-style:none;font-weight: 600;">
            <li><span style="font-size:17px;"><i class="fa fa-pencil-square-o"></i> &nbsp;&nbsp;&nbsp; Aqdas,DB Pg 6 </span></li>
            <li><span style="font-size:17px;"><i class="fa fa-pencil-square-o"></i> &nbsp;&nbsp;&nbsp; Aqdas,Eqan Pg 43 </span></li>
              <li><span style="font-size:17px;"><i class="fa fa-pencil-square-o"></i> &nbsp;&nbsp;&nbsp; Aqdas,ESW Pg 19 </span></li>
          </ul>
           </div> 
          <div>
          <span style="  font-size: 14pt;color:#454545;">47 Partial Matches</span><br/>
           <div style="padding-left: 6%;font-size:17px;font-weight: 600;"><span><i class="fa fa-sort-desc" style="vertical-align: sub;"></i> &nbsp;&nbsp;&nbsp;Kitab-i-Aqadas-7</span></div>
           <div style="padding-left: 6%;font-size:17px;font-weight: 600;"><span><i class="fa fa-sort-asc" style="vertical-align: sub;"></i> &nbsp;&nbsp;&nbsp;Suriy-i-Aqadas-3</span></div>
           <div style="padding-left: 10%;"><span>Suriy-i-Aqadas,DB Pg-6,(arabic),verified<i class="fa fa-play-circle-o" style="font-size: 20px;padding-left:15px;"></i><i class="fa fa-pencil-square-o" style="font-size: 20px;padding-left:10px;"></i><i class="fa fa-minus-circle" style="font-size: 20px;padding-left:50px;color: rgb(239, 64, 64);"></i></span>
          <br/> <span>Suriy-i-Aqadas,DB Pg-8,(arabic),verified<i class="fa fa-play-circle-o" style="font-size: 20px;padding-left:15px;"></i><i class="fa fa-pencil-square-o" style="font-size: 20px;padding-left:10px;"></i><i class="fa fa-minus-circle" style="font-size: 20px;padding-left:50px;color: rgb(239, 64, 64);"></i></span>
          </div>
          </div>
          
          </div>     
          
     </div>
    <div id="add-remove-links"></div>
    <div id="add-terms-list"></div>
   
    
</script>


<!-- replaces #add-term-form -->
<script type="text/template" id="add-term-form-template">
    <div id="addword-input-form">
        <div class="form-inline">
            <div class="alert-container"></div>
            <table class="add-word-form">
                <tr>
			<td colspan="3">
				<label for="add-word" class=""> Add/Edit View </label>
			</td>
		</tr>
            <tr>
            <td colspan="3">
            <div class="row">                                    
			<div class="term col-md-4 col-sm-4 col-xs-12 md_sm_no_pad_right xs_m_bottom15">
            	<div class="form-group" style="width: 100%;">
					<input type="text" id="add-word" name="add-word" class="form-control" placeholder="New Transliterated Term" >
                    <div class="clearfix"></div>
                    <span id="rendered-word" style="float:left;"></span>
            	</div>
			</div>
            
             <div class="term col-md-4 col-sm-4 col-xs-12 md_sm_no_pad_right xs_m_bottom15">
            	<div class="form-group" style="width: 100%;">
					<input type="text" id="" name="" class="form-control" placeholder="Arabic/Farsi Code" >
                    <div class="clearfix"></div>
                    <span id="" style="float:left;"></span>
            	</div>
			</div>
            
            <div class="ref col-md-4 col-sm-4 col-xs-12 md_sm_no_pad_right xs_m_bottom15">
            	<div class="form-group " style="padding-right: 13px;">
                    <input type="text" id="book-ref" name="book-acr" class="form-control" placeholder="Book Ref">
                    <div class="clearfix"></div>
                    <span class="ref-example">e.g. Iqan pg 72</span>
				</div>
			</div>
          
           </div>
            
    
            </div>                                                
            </td>                        
		</tr>
        <tr>
            <td colspan="4">
            <div class="row">     
            
             <div>
               <div class="ref col-md-8 col-sm-8 col-xs-12 md_sm_no_pad_right xs_m_bottom15">
            	<div class="form-group " style="  width: 20%">
                    <input type="checkbox" id="" name="" class="form-control" style="height:25px;width:22%;">&nbsp;<span style="width: 25%;font-size: 19px;vertical-align: middle;">Verified</span>
                      </div>
                
                <div class="form-group " style="  width:27%">
                    <input type="checkbox" id="" name="" class="form-control" style="height:25px;width:15%;">&nbsp;<span style="width: 25%;font-size: 19px;vertical-align: middle;">Ambiguous</span>
                   </div>
                   <div class="form-group " style="width:27%"><img src="d2.png" width="35px" height="35px"/>
                   <img src="d1.png" width="20px" height="32px" style="margin-left: 10px;"/></div>
			</div>
            
             <div class="button col-md-4 col-sm-4 col-xs-12" style="  padding-left: 0px;"><button type="submit" class="btn btn-lg btn-info active" id="addform-btn" style="float:right;height: 40px;font-size: 11pt!important;"><i class="fa fa-plus"></i> &nbsp;Save/Add</button>
             <button type="submit" class="btn btn-lg btn-info active" id="addform-btn" style="float:left;height: 40px;font-size: 11pt!important;"><i class="fa fa-trash-o"></i> &nbsp;Delete</button></div>
             
            
            </div></td></tr>
        
        <!--- <tr><td id="rendered-word"></td><td class="ref-example">e.g. Iqan pg 72</td><td></td></tr> -->
            </table>
        </div>
    </div>
</script>


</div>





<!-- alert template -->
<script type="text/template" id="alert-template">
	<div class="alert alert-<%= type %>">
		<a class="close" href="#" data-dismiss="alert">x</a>
		<ul>
			<% _.each(errors, function(error){%> <li> <%= error %> </li>  <%});%>
		<ul>
	</div>
    
    
</script>

<!-- replaces #add-remove-links
<script type="text/template" id="temp-links-template-old">
    <div style="text-align:center; padding: 2em;">
        <button id="deleteall" class="btn btn-large"><i class="fa fa-times"></i> Delete All</button>
        <button id="generatefakes" class="btn btn-large"><i class="fa fa-plus"></i> Generate Fakes</button>
    </div>
</script>
-->

<!-- replaces #terms-list -->
<script type="text/template" id="terms-list-layout-template">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#list-all" data-toggle="tab">All</a></li>
      <li><a href="#search" data-toggle="tab" disabled="disabled" >Filtered</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="list-all">

        <div id="terms-total"></div>
        <!-- <div id="loadingSpinner"><img src="./assets/img/spinnerimg/ajax-loader.gif">&nbsp;&nbsp;Loading more Data...</div> -->
        <div id="terms-table" class="table-responsive" style="height:50vh;overflow:auto;"></div><!-- This might be the place where the terms are placed -->
      </div>

      <div class="tab-pane" id="search">
        <div id="terms-filtered-table" style="height:50vh;overflow:auto;"></div>
      </div>
    </div>
</script>

<script type="text/template" id="terms-list-table-template">
    <table class="table table-striped">
        <thead><tr> <th>id</th> <th>Orig</th> <th>Suggestion</th>   <th>Reference</th> <th>Contributor</th> <th></th> </tr></thead>
        <tbody></tbody>
    </table>
</script>

<script type="text/template" id="terms-filtered-list-table-template">
    <table class="table table-striped">
        <thead><tr> <th>Term</th> <th>Count</th> </tr></thead>
        <tbody></tbody>
    </table>
</script>


 <script type="text/template" id="term-list-item-template">
    <td class="id"><%= id  %></td>
    <td class="term"><%= original  %></td>
    <td class="term"><%= Accents.Utils.ilm2HTML( term )  %></td>
    <td class="ref"><%=  ref  %></td>
    <td class="user"><%=  user  %></td>
    <td class="action"> <button> <img src="download.png" width="12px" height="12px" /> </button> <button> <img src="download (1).png" width="12px" height="12px" /> </button> </td>
    <td class="action"><button type="button" class="btn btn-success btn-xs edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button><button type="button" class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-remove"></span></button></td>
</script>

 <script type="text/template" id="term-filtered-list-item-template">
    <td class="term"><%= Accents.Utils.ilm2HTML( term )  %></td>
    <td class="count"><%= count %></td>
</script>


<script type="text/template" id="term-list-total-template">
    Terms Collected: <%=  total_count  %>
</script>

<script type="text/template" id="no-terms-template">
    <h2> No Terms </h2>
</script>

<!-- replaces #login-template -->
<script type="text/template" id="login-template">
    <div id="addword-input-form">
        <div class="form-inline">
            <div class="alert-container"></div>
            <div class="form-group">
                <div class="alert alert-error" style="display:none"/>
                <table class="add-word-form">
                    <tr><td colspan="3"><label for="add-word" class=""> Sign In </label></td></tr>
                    <tr><td colspan="3">
                            <div class="row">
                                <div class="term col-md-5 col-sm-5 col-xs-12 md_sm_no_pad_right xs_m_bottom15"><input type="text" id="user"  class="form-control" placeholder="User" ></div>
                                <div class="term col-md-5 col-sm-5 col-xs-12 md_sm_no_pad_right xs_m_bottom15"><input type="password" id="password"  class="form-control" placeholder="Password"></div>
                                <div class="button col-md-2 col-sm-2 col-xs-12"><button type="submit" data-loading-text="Wait..."  class="btn btn-lg btn-primary active" id="login-btn">Sign In</button></div>
                            </div>
                        </td>                                                            
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="waiting-data-template">
  <div class="spinner-content" style="width: 10px;" ></div>
</script>




<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="./assets/js/vendor/spin.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.5.1-bundled/backbone.marionette.min.js"></script>
<script src="./assets/js/vendor/backbone.localStorage-min.js"></script>

<link  href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" >
<link  href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" >
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link  href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script src="./assets/js/vendor/pouchdb-2.2.3.min.js"></script>
<script src="./assets/js/vendor/backbone-pouch.min.js"></script>
<script src="./assets/js/vendor/Marionette.BossView.min.js"></script>

<!-- formatted editor
<link  href="assets/js/vendor/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"></link>
<script src="assets/js/vendor/bootstrap-wysihtml5/libs/js/wysihtml5-0.3.0_rc2.min.js"></script>
<script src="assets/js/vendor/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
-->


<script src="./assets/js/app.js"  charset="utf-8" ></script>
<script src="./assets/js/common/utils.js"  charset="utf-8" ></script>
<!-- entities -->
<script src="./assets/js/entities/terms.js"  charset="utf-8" ></script>
<script src="./assets/js/entities/login.js"  charset="utf-8" ></script>
<!-- apps -->
<script src="./assets/js/apps/header/views/header_views.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/header/controllers/list_controller.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/header/header_app.js"  charset="utf-8" ></script>

<script src="./assets/js/apps/terms/views/term_views.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/terms/controllers/terms_controller.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/terms/routes/terms.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/terms/terms_app.js"  charset="utf-8" ></script>

<script src="./assets/js/apps/login/views/login_views.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/login/controllers/login_controller.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/login/routes/login.js"  charset="utf-8" ></script>
<script src="./assets/js/apps/login/login_app.js"  charset="utf-8" ></script>




<script type="text/javascript" charset="utf-8" >
    $(function() {   // launch app
        console.log("starting app");
        Accents.start();
    });
</script>


