

body{background:url('../images/bodybg.png') repeat; }
.forkme{position:absolute; right:0; top:0;z-index: 9;}
.nb{border:0!important;}
.m0{margin:0 !important;}.p0{padding:0 !important;}.m5{margin:5px;}.m10{margin:10px;}.m15{margin:15px;}.m20{margin:20px;}.mlr0{margin-left:0; margin-right:0;}.mtb0{margin-top:0; margin-bottom:0;}
.p0{padding:0px;}.p2{padding:2px;}.p5{padding:5px;}.p10{padding:10px;}.p15{padding:15px;}.p20{padding:20px;}.p25{padding:25px;}.plr0{padding-left:0; padding-right:0;}.ptb0{padding-top:0; padding-bottom:0;}
.ml0{margin-left:0px !important;}.ml5{margin-left:5px !important;}.ml10{margin-left:10px !important;}.ml15{margin-left:15px !important;}.ml20{margin-left:20px !important;}.ml30{margin-left:30px !important;}.ml50{margin-left:50px !important;}
.mr0{margin-right:0px !important;}.mr5{margin-right:5px !important;}.mr10{margin-right:10px !important;}.mr15{margin-right:15px !important;}.mr20{margin-right:20px !important;}.mr30{margin-right:30px !important;}.mr50{margin-right:50px !important;}
.mt0{margin-top:0px !important;}.mt2{margin-top:2px !important;}.mt5{margin-top:5px !important;}.mt10{margin-top:10px !important;}.mt13{margin-top:13px;}.mt15{margin-top:15px !important;}.mt20{margin-top:20px !important;}.mt25{margin-top:25px !important;}.mt30{margin-top:30px !important;}.mt40{margin-top:40px !important;}.mt50{margin-top:50px !important;}.mt65{margin-top:65px;}.mt75{margin-top:75px;}
.mb0{margin-bottom:0px !important;}.mb5{margin-bottom:5px !important;}.mb10{margin-bottom:10px !important;}.mb15{margin-bottom:15px !important;}.mb20{margin-bottom:20px !important;}.mb30{margin-bottom:30px !important;}.mb40{margin-bottom:40px !important;}.mb50{margin-bottom:50px !important;}
.pl0{padding-left:0px !important;}.pl5{padding-left:5px !important;}.pl10{padding-left:10px !important;}.pl15{padding-left:15px !important;}.pl20{padding-left:20px !important;}.pl30{padding-left:30px !important;}.pl50{padding-left:50px !important;}
.pr0{padding-right:0px !important;}.pr5{padding-right:5px !important;}.pr10{padding-right:10px !important;}.pr15{padding-right:15px !important;}.pr20{padding-right:20px !important;}.pr50{padding-right:50px !important;}
.pt0{padding-top:0px !important;}.pt5{padding-top:5px !important;}.pt10{padding-top:10px !important;}.pt15{padding-top:15px !important;}.pt20{padding-top:20px !important;}.pt30{padding-top:30px !important;}.pt50{padding-top:50px !important;}
.pb0{padding-bottom:0px !important;}.pb5{padding-bottom:5px !important;}.pb10{padding-bottom:10px !important;}.pb15{padding-bottom:15px !important;}.pb20{padding-bottom:20px !important;}.pb30{padding-bottom:30px !important;}.pb50{padding-bottom:50px !important;}
.dispinblk{display:inline-block !important;}
.valignmiddle{vertical-align:middle!important;}
.txtuppcase{text-transform:uppercase!important;}
.posrleative{position:relative ;}
.form-inline .form-control{width:100%;}
 button,input{border-radius:0px !important; border:none!important;}
.topbutton button{margin-top:15px; -webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;  -o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}

.logo img{max-width:86px;}
.logo h3{
	  color: #1D4583;
    text-shadow: 2px 2px 3px rgba(12, 12, 12, 0.18);
    padding-top: 5px;
    padding-left: 2px;
}
.logo p{font-size:12px; color:#1D4583;  }
 #main-container{ border:1px solid #f0f0f0; width:100% !important; padding-left: 10px !important;padding-right: 10px !important;}
.inputexm{/*position:absolute;*/  left:20px; bottom:-16px; font-size:10px; color:#999999; font-style:italic;}
.addtext{background:#333333; color:#fefefe;}
.addtext h3{border-bottom:1px solid #3d3d3d; padding-bottom:10px; margin-top:5px; margin-bottom:20px;}
.remove{padding:0px;float: left; height: 22px; width: 22px;}
.tablecontainer th{   text-transform: uppercase;  background: #2D5D76;border: none !important;color: #fff;text-align: center }
.tablecontainer td{text-align:center; border-bottom:1px solid #f0f0f0; }
.tablecontainer tr{-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;  -o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.tablecontainer tr:hover{background:#666666; color:#f0f0f0; }
#home h3{ color: #333333;padding: 7px 15px;background: #f0f0f0; }
.modalDialog{max-width:300px;}
.modalDialog .modal-header{background:#333333; color:#ffffff; padding:10px; }
.modalDialog .modal-header h4{ font-size:14px;}
.modalDialog  .close{color:#fff; opacity:1;}
.modalDialog  .modal-footer{padding:0px 15px 15px 15px; border:none; text-align:center;}
.modalDialog  .modal-footer button{min-width:100px;}
.modalDialog .modal-body{padding: 15px 15px}
.blankalert{color:#FF6464; padding:20px;}

/*-------------------------login-----------------------------------*/
#loginPage{max-width:600px; width:100%; margin:80px auto; background:#333; padding:20px; color:#fff; box-shadow:0px 6px 8px -6px #000;  border: 3px solid #767676;}
.loginIcon{position:absolute; right:15px; top:10px; color:#ccc;}
.login-btn{min-width:200px;  text-transform: uppercase;font-size: 15px;}
/*-------------------------login-----------------------------------*/
.playmic a{display:block; color:#ffffff; border:1px solid #ffffff; padding:8px;padding: 3px 5px; opacity:0.8;}
.playmic img{max-width:15px;}
.playmic a:hover{opacity:1;}
.autosearch-container{border:1px solid #3d3d3d;  background: #3C3B3B; }
.autosearch-container ul{list-style:none; padding-left:10px;}
.autosearch-container ul li a{ color:#f0f0f0; font-size:12px;}
.accentpanel .panel {background:transparent; color:#fff; border-radius:0px;  border: 0px;}
.accentpanel .panel-heading{background:transparent; color:#fff;padding: 5px 15px;}
.accentpanel .panel-title > a{font-size:13px;}
.playIcon{color:#69CCFF;}
.deleteIcon{color:#FF0000;}
.accentpanel .panel-body ul li{border-bottom:1px solid #414141; margin-bottom:0px;}
.accentpanel .panel-body ul li:hover{background:#414141;}
.accentpanel .panel-body span {opacity:0.75; font-size:18px;}
.accentpanel .panel-body span:hover{opacity:1;}
.accentpanel .panel-body div{width:85px;}
.disabled{  cursor: no-drop; opacity:0.3 !important}
.openPanelrotate{transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg);}

.autochoose{left:0; background: #fafafa; color:#333333; box-shadow: 0px 1px 2px #666; left: 0;position: absolute;top: 100%;z-index: 99; display:none;}
.autochoose .checkbox{ width:100%; padding:5px 15px;    display: inline-block;}
.autochoose input[type="checkbox"]{margin-left:0px !important; margin-right:5px;}
.nav > li > a{padding:14px 13px !important;}
.logout{color:#ffffff !important;padding:14px 14px !important;background:#d2322d !important;}
.container{width: 100% !important; padding: 0 !important;}
.otherData{
    display: inline;
}
.notesClass {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 390px;
}
.recordButton {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid white !important;
    padding: 3px 5px;
}
.playButton{
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid white !important;
    padding:4px 7px;
}
.modal-body > ul {
    list-style-type: none;
}
.subGroup{
	display:none;
}
#editRecording .checkBoxes {
    height: 25px;
    margin-left: 20px;
    width: 25px;
}
.green{
	color:green;
}
.red{
	color:red;
}

.modal-body { background-color: #333333;}
/*=====================================ALL MOBILE VIEW===================================================*/
@media only screen and (min-width : 0px) and (max-width:499px)
{
	.term-top
	{
		margin-top: 20px;
	}
	.btn-circle
	{
		width: 26px !important;
		height: 26px;
		padding: 6px 0;
		border-radius: 15px !important;
		text-align: center;
		line-height: 1.428571429;
	}
	.btn-block
	{
		border-radius: 4px !important;
		font-size: 8px ;
		font-weight: bold;
		text-transform: uppercase;
	}
	.panel-box
	{
		margin-left: 11px !important;
		padding: 20px;
	}
	.remoteUrl, .cleanup button
	{
		font-size:10px !important;
	}
	/*
	.navbar-collapse {
		padding:none !important;
	}
	*/
	.mobile-margin
	{
		margin-bottom:10px;
	}
	.btn
	{
		width: 100%;
		font-size:13px !important;
	}
	.dispinblk
	{
		display: block !important;
	}
	.playmic a
	{
		border: 1px solid #ffffff;
		color: #ffffff;
		display: block;
		float: left;
		margin-right: 10px;
		opacity: 0.8;
		padding: 3px 5px;
		width: 28px;
	}
	#heading-term
	{
		margin:0px !important;
	}
	.btn-lg
	{
		font-size: 15px !important;
	}

	.divFirst
	{
		margin-left: 15px;
		width: 100%;
		height: 65px;
	}

	.divSecond
	{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: -30px;
		width: 93%;
	}
	.divThird
	{
		margin-left: 10px;
		margin-top: 7px;
		width: 100%;
		text-align: left !important;
		float: none !important;
		margin-top: 10px !important;
	}
	.form-control.chkval
	{
		font-size: 20px;
	}
	.notesClass
	{
		max-width: 200px;
	}
	.otherData
	{
		display: block;
	}

	/* Navbar */

	.navbar {
    display: inline-block;
    margin-left: auto; margin-right:auto;
  }

  .navbar.navbar-default {
		/*float: right !important;
		width: auto !important;*/
	}


 /* checkboxes */
 table.filter td.checkboxes {width: 75px !important;}

}

/*
@media only screen and (min-width : 320px) and (max-width:360px)
{
	.navbar-nav > li {
		width: 98px !important;
	}
	.navbar.navbar-default{
		float:none !important;
	}
	.panel-box{
		margin:0px !important;
	}
	.panel-box .btn.btn-primary.btn-block {
		font-size: 10px !important;
	}
}
@media only screen and (min-width : 360px) and (max-width:480px)
{
	.navbar-nav > li {
		text-align: center;
		width: 112px !important;
	}
}
@media only screen and (min-width : 768px) and (max-width:1024px)
{
}

*/


/*=================================CUSTOM WIDTH FOR CLIENT SCREEN======================================*/
@media only screen and (min-width : 500px) /* and (max-width : 1280px)*/
{

	.notesClass {
	    max-width: 300px;
	}

	.divFirst {
  	height: 45px;
  }

  .playmic {
  	padding-left: 15px;
  }
	.searchSingle
	{
		margin-left:10px;
	}
	#Button2, #Button3, #updateword, #addword
	{
		font-size: 12px;
	}
	.custom-width-media
	{
		margin-left: 0;
		width: 45%;
	}
	.mobile-margin
	{
		margin-bottom:20px;
	}
	.panel-box
	{
		margin-left: 111px;
		padding: 20px;
	}
	.btn
	{
		border-radius: 4px !important;
		font-size: 16px ;
		font-weight: bold;
		text-transform: uppercase;
	}
	.divFirst
	{
		float: left;
		margin-left: 15px;
		width: 6em;
	}
	.divSecond
	{
		float: left;
		width: 54%;
	}
	.divThird
	{
		float: right;
		margin-left: 10px;
		padding-right: 1em;
	}


	.form-control.chkval
	{
		font-size: 20px;
	}

	/* Navbar */

  .logo {width: 230px !important;}
  .topbutton {position: absolute; right: 0px; top: 0px;}
	.navbar {
  	width: auto;
    position: absolute; right: 10px; top: 10px;
  }
  .navbar.navbar-default {
		float: right !important;
		width: auto !important;
	}


 /* filter checkboxes */
 table.filter td.checkboxes {width: 200px;}

}
/*=======================LARGE DEVICES WIDE SCREENS=========================================*/
@media only screen and (min-width : 1200px)
{
	.addtext {
		margin-top: 111px;
	}
}
/*=======================LARGE DEVICES WIDE SCREENS=========================================
@media only screen and (min-width : 1200px)
{
	.divFirst
	{
		float: left;
		margin-left: 15px;
		width: 7%;
	}
	.divSecond
	{
		float: left;
		width: 76%;
	}
	.divThird
	{
		float: left;
		margin-left: 10px;
	}
	.glyphicon.glyphicon-ok-circle
	{
		color: green;
		font-size: 17px;
	}
	.glyphicon.glyphicon-question-sign
	{
		color: red;
		font-size: 17px;
	}
	.btn
	{
		border-radius: 4px !important;
		font-size: 16px ;
		font-weight: bold;
		text-transform: uppercase;
	}
	.btn-circle
	{
		width: 30px;
		height: 30px;
		padding: 6px 0;
		border-radius: 15px !important;
		text-align: center;
		font-size: 12px;
		line-height: 1.428571429;
	}
	.well.first-well
	{
		background-color: #87b6dd;
		border-color: #428bca;
	}
	.well.second-well
	{
		background-color: #94d094;
		border-color: #5cb85c;
	}
	.well.third-well
	{
		background-color: #bee6f2;
		border-color: #5bc0de;
	}
	.well.fourth-well
	{
		background-color: #f9deb7;
		border-color: #f0ad4e;
	}
	.well.fifth-well
	{
		background-color: #e89896;
		border-color: #d9534f;
	}
	.well.sixth-well
	{
		background-color: #87b6dd;
		border-color: #428bca;
	}
	.well.seventh-well
	{
		background-color: #94d094;
		border-color: #5cb85c;
	}
	.navbar-collapse
	{
		padding:0px;
	}
	.navbar-nav > li
	{
		text-align: center;
		width: 131px;
	}
	.panel-box
	{
		margin-left: 111px;
		padding: 20px;
	}
	.searchGroup
	{
		margin: 10px;
	}
	.searchSingle
	{
		margin-left:10px;
	}
	.remove
	{
		padding:0px;
		float: left;
		height: 22px;
		width: 22px !important;
	}
	.editbtn
	{
		padding:0px;
		height: 22px;
		width: 22px;
	}
	.form-control.chkval
	{
		font-size: 20px;
	}
}
/*==============================TABLET VIEW=================================
@media only screen and (min-width : 768px) and (max-width:1024px)
{
	.btn-circle
	{
		width: 30px !important;
		height: 30px;
		padding: 6px 0;
		border-radius: 15px !important;
		text-align: center;
		line-height: 1.428571429;
	}
	.btn-block
	{
		border-radius: 4px !important;
		font-size: 14px ;
		font-weight: bold;
		text-transform: uppercase;
	}
	.panel-box
	{
		margin-left: 98px;
		padding: 20px;
	}
	.forkme
	{
		max-width: 100px;
		z-index: 99;
	}
	.mobile-margin
	{
		margin-bottom:60px;
	}
	.ml10
	{
		margin-left: 0px !important;
	}
	.navbar-nav > li
	{
		height: 20px;
		text-align: center;
	}
	.nav > li > .active > a
	{
		height: 48px;
	}
	.divFirst
	{
		float: left;
		margin-left: 15px;
		width: 11%;
	}
	.divSecond
	{
		float: left;
		width: 65%;
	}
	.divThird
	{
		float: left;
		margin-left: 10px;
	}
	.form-control.chkval
	{
		font-size: 20px;
	}
}
*/

/*====================FOR ALL WIDTH=====================================*/
@media all /*and (max-width : 1200px)*/
{

	.verifyy {
	    float: left;
	    margin-left: 5px;
	}

	.form-control.chkval 	{
		font-size: 20px;
	}
	.container
	{
		width: 100% !important;
		padding: 0 !important;
	}
	.btn
	{
		border-radius: 4px !important;
	}
	.editbtn
	{
		padding:0px;
		height: 22px;
		width: 22px;
	}
	.remove
	{
		padding:0px;
		float: left;
		height: 22px;
		width: 22px !important;
	}
	#main-container
	{
		border:1px solid #f0f0f0;
	/*	max-width:768px; */
	}
	.btn-circle
	{
		width: 30px;
		height: 30px;
		padding: 6px 0;
		border-radius: 15px !important;
		text-align: center;
		font-size: 12px;
		line-height: 1.428571429;
	}
	.well.first-well
	{
		background-color: #87b6dd;
		border-color: #428bca;
	}
	.well.second-well
	{
		background-color: #94d094;
		border-color: #5cb85c;
	}
	.well.third-well
	{
		background-color: #bee6f2;
		border-color: #5bc0de;
	}
	.well.fourth-well
	{
		background-color: #f9deb7;
		border-color: #f0ad4e;
	}
	.well.fifth-well
	{
		background-color: #e89896;
		border-color: #d9534f;
	}
	.well.sixth-well
	{
		background-color: #87b6dd;
		border-color: #428bca;
	}
	.well.seventh-well
	{
		background-color: #94d094;
		border-color: #5cb85c;
	}
	.pagination{margin:20px 0;}
	.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;/*-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);*/}
	.pagination ul>li{display:inline;}
	.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
	.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
	.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
	.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
	.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
	.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
	.pagination-centered{text-align:center;}
	.pagination-right{text-align:right;}
	.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
	.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
	.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
	.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
	.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
	.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
	.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}
	.glyphicon.glyphicon-ok-circle {
		color: green;
		font-size: 17px;
	}
  .glyphicon.glyphicon-ok-circle.toggle {
    color: white;
  }
	.glyphicon.glyphicon-question-sign
	{
		color: white;
		font-size: 17px;
	}
	.searchGroup:hover
	{
		cursor:pointer;
	}
	.searchGroup
	{
		/*margin: 10px;*/
	}

	.panel-box
	{
		margin-left: 111px;
		padding: 20px;
	}

 	.divThird 	{
 		text-align: right;
 		padding-top:0 !important;
 		margin-top: -5px;
	}


  .divThird label {
  	font-size: 14px;
  }

	.divThird input[type=checkbox] {
	  /* Double-sized Checkboxes */
	  -ms-transform: scale(2); /* IE */
	  -moz-transform: scale(2); /* FF */
	  -webkit-transform: scale(2); /* Safari and Chrome */
	  -o-transform: scale(2); /* Opera */
	  transform: scale(2,2);
	  padding: 10px;
	  margin-right: 0 !important;
	  padding-right: 5px !important;

	}

  h5.mb10 {
  	font-size: 16px;
  	padding-bottom: .5em;
  }

  .logo img, img.loginlogo {
  	width:75px;
  }

  .col-lg-12.mb10 {
  	margin-bottom: 0 !important;
  	border-radius: 3px;
  }
  .col-lg-12.pt10 {
  	padding-top:0 !important;
  	margin-bottom: 0 !important;
  }
  .col-lg-12.mt30 {
  	margin-top: 0px !important;
  }

  .mainlogo {
    margin-right: 0px !important;
  }

  .table-responsive.tablecontainer.mt10 {
  	background-color: white !important;
  }

  .col-lg-12.mb10.p0.mt10 {
  	margin-top:0 !important;
  }

  form input[type="text"] {
    border-radius: 2px !important;
    margin-top: 5px !important;
    margin-bottom: -2px !important;
  }

  #addform .inputexm {
  	padding-top:0; margin-top:0; line-height: 1em;
  	margin-left: 5px !important;
  }

  td.user.audio {
  	padding: 0;
  	vertical-align: middle;
  }
  td.user.audio button {
  	margin: 0; padding:0;
  }

  div.allfilters div {
  	display: inline-block;
  	padding-right: 5px;
  }

 /* Navbar */

 	.navbar-nav > li 	{
		text-align: center;
		width: 114px;
	}

  #js-navbar-collapse {
  	padding-left: 2px; padding-right: 2px;
  }

  .nav > li > a {
    padding: 14px 0px !important;
  }
  .navbar-nav {
  	float:right;
  }
	.navbar-nav > li 	{
		width: 70px !important;
	}
 	.navbar-collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-collapse{
	 padding: 0px !important;
	}


 /* Top Logo */
 .media { width: 230px;}
 .topbutton {float: right;}
 .logotitle .description {
	  line-height: 2em;
 }

 /* Filter control -- if you really want simple layout, fall back on a good old table */
 table.filter {border-collapse: collapse; }
 table.filter td {padding:8px; margin:0; vertical-align: middle;}
 /* Label*/
 table.filter td .pr15 {padding: 0 !important; width: auto; margin-top:15px;}
 /* Input */
 table.filter td .pt20 {padding: 0 !important; margin: 0 !important; width: auto !important;}
 /* checkboxes */
 table.filter td.checkboxes {text-align:right;}
 table.filter td .pt10 {padding: 0 !important; margin: 0 !important; width: auto !important;}


 .toggle {top: 5px !important;}
 .bottomcontrols {padding-left: 2em;}
 .verifybox input {font-size: 36pt;}


}
