<div class="col-lg-12  clearfix pb30" ng-controller="getdataCtrl" >
	<div class="clearfix" id="loginPage">
		<div class="col-lg-12 clearfix mb30 ">
			<div class="media">
				<div class="media-left pull-left">
					<img src="images/ocean-logo.svg" alt="logo" class="img-responsive dispinblk valignmiddle loginlogo" />
				</div>
				<div class="media-body">
					<h3 class="dispinblk m0 valignmiddle">Interminable <br />Accents</h3><br>
					<p class="dispinblk m0 valignmiddle">A dictionary builder for Bahá’í terms</p>
				</div>
			</div>
		</div>
		<div style="color:red; text-align:center;">{{errormessage}}</div>
		<div class="col-lg-12 clearfix ">
			<form ng-submit="submitDbData()">

				<div class="form-group posrleative">
					<input type="text" class="form-control"  name="username" placeholder="User Name" ng-model="username" id="username">
					<span class="glyphicon glyphicon-user loginIcon"></span>
				</div>
<!--
				 <div class="form-group posrleative">
					<input type="password" class="form-control" placeholder="Password"  name="password" ng-model="password">
					<span class=" glyphicon glyphicon-lock loginIcon"></span>
				</div>
-->
				<div class="form-group posrleative">
					<input type="textbox" class="form-control" placeholder="Remote DB URL"  name="dbUrl" ng-model="dbUrl" id="dbUrl">
					<span class=" glyphicon glyphicon-hdd loginIcon"></span>
				</div>
				<button type="button" class="btn btn-info pull-right login-btn mt20" ng-click="submitDbData()">Submit</button>
			</form>
		</div>
	</div>
</div>


