<script>
	function playPause(callingElement)
	{
		 if(callingElement.firstChild.paused){
			callingElement.firstChild.play();
			callingElement.firstChild.nextSibling.className="glyphicon glyphicon-stop";
		}
		else{
			callingElement.firstChild.pause();
			callingElement.firstChild.nextSibling.className="glyphicon glyphicon-play";
		}
	}
	function endaudio(callingElement)
	{
		console.log("calledhere");
		callingElement.nextSibling.className="glyphicon glyphicon-play";
	}
	$(".tab-content").hide();
</script>
<div ng-controller="AlltermsCtrl">
	<div class="row addtext">

<table class='filter'><tr><td class='label'>
		<div class="col-xs-3 col-sm-2 col-md-1">
			<h2 class="pl15 pr15" style="font-weight:bold;"   id="toptextnew" >
				Filter:
			</h2>
		</div>
</td><td class='input'>
		<div class="col-xs-6 col-sm-6 col-md-8 pt20">
			<input type="text" size="150"  placeholder="Search Transliterated Term" id="term" ng-model-options="{debounce: 200}"  ng-model="search.doc.term" name="term" value="" class="form-control chkval ng-pristine ng-untouched ng-valid">
		</div>
</td><td class='checkboxes'>
		<div class="col-xs-3 col-sm-4 col-md-3 allfilters pt10">
			<label for="unverified">
				<div class="hidden-xs">
					Unverified Only:
				</div>
				<div class="visible-xs-block">
					<span class="glyphicon glyphicon-ok-circle toggle"></span>
				</div>
			</label>
			<input type="checkbox" name="unverified" ng-checked="doc.checked" ng-model="search.doc.verify.checked" id="verifiedCheckbox" name="verifiedCheckbox"/><br>
			<label for="noaudio">
				<div class="hidden-xs">
					&nbsp; No Audio Only:
				</div>
				<div class="visible-xs-block">
					<span class="glyphicon glyphicon-volume-up toggle"></span>
				</div>
			</label>
			<input type="checkbox" name="noaudio" ng-checked="doc.na_checked" ng-model="audio.checked" id="noaudioCheckbox" name="noaudioCheckbox"/>
		</div>
</td></tr></table>

		<input type="hidden" id="keyid">
			<input type="hidden" id="keyrev">
	</div>
	<div class="col-lg-12 clearfix  mb10 p0 mt10" ngCloak><!--mt30-->
		<div role="tabpanel">
			<img id="spinnernew" ng-src="images/loading.gif"  style="margin-left: 28%;text-align: center;width:29%;">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<h3>Matching Terms: {{(docs |newfilter:customi2html(search.doc.term)|checkfilter:this).length}}</h3>
					<input type="hidden" value="{{(docs | filter:search).length}}" name="totalRows" ng-model="rowxount" id="totalRows"/>
					<!----------------TABLE---------------------->
					<div class="table-responsive tablecontainer mt10" >
						<table class="table  table-bordered ">
							<thead>
								<tr>
									<th class='term'>Term</th>
									<th class='ref'>Reference</th>
									<th class='orig'>Original</th>
									<th class='note'>Notes</th>
									<th class='audio'>Audio</th>
									<th class='verif'></th>
									<th class='action'></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="doc in docs  |newfilter:customi2html(search.doc.term)|checkfilter:this|orderBy:'term' | offset: currentPage*itemsPerPage | limitTo: itemsPerPage track by $index" >
									<td class="term" ng-bind-html="i2html(customi2html(doc.term))" style="width: 300px;"></td>
									<td class="ref" ng-model="terms" style="overflow: hidden;" >{{doc.ref}}</td>
									<td class="orig" style="font-size: 16px;" >{{doc.original}}</td>
									<td class="note"><div  style=" max-height: 62px;overflow-x: hidden;overflow-y:auto;text-align: justify;">{{doc.definition}}</div></td>
									<td class="user audio" style="width:100px;">
										<div  id="audio-{{doc._id}}">{{convertAttachment(doc._id)}}</div>
											<button class="btn btn-primary btn-xs editbtn" id="audioAttach_{{doc._id}}" >
												<span class="glyphicon glyphicon-record"></span>
											</button>
<!--
											{{doc._attachments}}
-->
											<button id="deleteAudio-{{doc._id}}" ng-show="doc._attachments" class="btn btn-danger btn-xs editbtn" ng-click="deleteAudio(doc._id)" >
												<span class="glyphicon glyphicon-trash"></span>
											</button>
<!--
											
											<button class="btn btn-danger btn-xs editbtn one" style="display:none;" id="stop_{{doc._id}}">
												<span class="glyphicon glyphicon-stop"></span>
											</button>
-->
									</td>
									<td class="verif">
										<div  ng-show="doc.verified || doc.doc.ambiguous">
											<div ng-show="doc.verified==true" class="verifyy"><span class='glyphicon glyphicon-ok-circle'></span></div>
											<div ng-show="doc.ambiguous==true" class="verifyy"><span class='glyphicon glyphicon-question-sign'></span></div>
										</div>
									</td>
									<td class="action" style="width:65px;"><button type="button" class="btn btn-danger btn-xs remove" ng-click="deletedoc(doc._id,doc._rev);"><span class="glyphicon glyphicon-remove"></span></button>
										<button type="button" class="btn btn-primary btn-xs editbtn" ng-click="editdocPage(doc._id,doc._rev);" ><span class="glyphicon glyphicon-edit"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
						<!--------------------TABLE-END------------------------->
						<div ng-if="(docs | newfilter:customi2html(search.doc.term)).length>=itemsPerPage">
							<!-- code to render a large video block-->
							<div class="pagination">
								<ul>
									<li ng-class="prevPageDisabled()">
										<a href ng-click="prevPage()">« Prev</a>
									</li>
									<li ng-repeat="n in range((docs | newfilter:customi2html(search.doc.term)).length)" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
										<a >{{n+1}}</a>
									</li>
									<li ng-class="nextPageDisabled()">
										<a href ng-click="nextPage()">Next »</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
