<script>
	function logout()
	{
		localStorage.removeItem('session-user');
		window.location.href="/";
	}
	if(localStorage.getItem("session-user") === null)
	{
		window.location.href="/";
	}
	function playPause(callingElement)
	{
		 if(callingElement.firstChild.paused){			
			callingElement.firstChild.play();
			callingElement.firstChild.nextSibling.className="glyphicon glyphicon-stop red";			
		}
		else{
			callingElement.firstChild.pause();
			callingElement.firstChild.nextSibling.className="glyphicon glyphicon-play green";	
		}
	}
	function endaudio(callingElement)
	{
		callingElement.nextSibling.className="glyphicon glyphicon-play green";	
	}
	
</script>
<div ng-controller="getdataCtrl">
<!--
	<div class="col-lg-12 clearfix mb10 p0 pt10 addtext mt30">
		<div class="row">
			<div class="col-lg-12 text-center mb10 mt10 ">
					<!--h2 ng-bind-html="i2html(customi2html(search.doc.term))" style="color:#ffffff"></h2>
			</div>
		</div>
		<div class="row">
			<div  class="col-sm-1 col-md-1">
				<h3 id="toptextnew" class="nb">
					<label for="inputEmail3">Filter: </label>
				</h3>
			</div>
			<div class="col-sm-2 col-md-9">
				<input type="text" size="150"  placeholder="Search Transliterated Term" id="term" ng-model-options="{debounce: 200}"  ng-model="search.doc.term" name="term" value="" class="form-control chkval ng-pristine ng-untouched ng-valid">
			</div>
			<div  class="col-sm-3 col-md-2">
				<label for="unverified">Unverified Only:</label>
				<input type="checkbox" name="unverified" ng-checked="doc.checked" ng-model="search.doc.verify.checked" id="verifiedCheckbox" name="verifiedCheckbox"/><br>
				<label for="noaudio">No Audio Only:</label>
				<input type="checkbox" name="noaudio" ng-checked="doc.na_checked" ng-model="audio.checked" id="noaudioCheckbox" name="noaudioCheckbox"/>
			</div>
			<input type="hidden" id="keyid">
			<input type="hidden" id="keyrev">
		</div>
	</div>
-->
	<div class="row addtext pt20">
		<div class="col-xs-3 col-sm-2 col-md-1">
			<h3 id="toptextnew" class="nb">
				<label for="inputEmail3">Filter: </label>
			</h3>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-8">
			<input type="text" size="150"  placeholder="Search Transliterated Term" id="term" ng-model-options="{debounce: 200}"  ng-model="search.doc.term" name="term" value="" class="form-control chkval ng-pristine ng-untouched ng-valid">
		</div>
		<div class="col-xs-3 col-sm-4 col-md-3">
			<label for="unverified">
				<div class="hidden-xs">
					Unverified Only:
				</div>
				<div class="visible-xs-block">
					<span class="glyphicon glyphicon-question-sign"></span>
				</div>
			</label>
			<input type="checkbox" name="unverified" ng-checked="doc.checked" ng-model="search.doc.verify.checked" id="verifiedCheckbox" name="verifiedCheckbox"/><br>
			<label for="noaudio">
				<div class="hidden-xs">
					No Audio Only:
				</div>
				<div class="visible-xs-block">
					<span class="glyphicon glyphicon-volume-off"></span>
				</div>
			</label>
			<input type="checkbox" name="noaudio" ng-checked="doc.na_checked" ng-model="audio.checked" id="noaudioCheckbox" name="noaudioCheckbox"/>
		</div>
		<input type="hidden" id="keyid">
			<input type="hidden" id="keyrev">
	</div>
	<div class="col-lg-12 clearfix  mb10 p0 mt10" ngCloak><!--mt30-->
		<div role="tabpanel">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<img id="spinnernew" ng-src="images/loading.gif" style="margin-left: 28%;text-align: center;width:29%;">	
					<h3 ng-if="showAllData">Matching Terms: {{(docs |newfilter:customi2html(search.doc.term)|checkfilter:this).length}}</h3>
					<input type="hidden" value="{{(docs | filter:search).length}}" name="totalRows" ng-model="rowxount" id="totalRows"/>					
					<!----------------TABLE---------------------->
					<div class="table-responsive tablecontainer mt10" ng-if="showAllData">										
						<table class="table  table-bordered ">
							<thead>
								<tr>
									<th>Term</th>
									<th>Reference</th>
									<th>Original</th>
									<th>Notes</th>
									<th>Audio</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="doc in docs  |newfilter:customi2html(search.doc.term)|checkfilter:this|orderBy:'term' | offset: currentPage*itemsPerPage | limitTo: itemsPerPage track by $index" >
									<td class="term" ng-bind-html="i2html(customi2html(doc.term))" style="width: 300px;"></td>
									<td class="term" ng-model="terms" style="overflow: hidden;" >{{doc.ref}}</td>
									<td class="ref" style="font-size: 16px;" >{{doc.original}}</td>
									<td class="user"><div  style=" max-height: 62px;overflow-x: hidden;overflow-y:auto;text-align: justify;">{{doc.definition}}</div></td>
									<td class="user">
										<div  id="audio-{{doc._id}}">{{convertAttachment(doc._id)}}</div>
										<button class="recordButton" id="start_{{doc._id}}" onclick="startRecord(this);">
											<span class="glyphicon glyphicon-record green"></span>
										</button>
										<button class="playButton" id="stop_{{doc._id}}" onclick="stopRecord(this);">
											<span class="glyphicon glyphicon-stop red"></span>
										</button>
									</td>
									<td class="user">
										<div  ng-show="doc.verified || doc.doc.ambiguous">
											<div ng-show="doc.verified==true" class="verifyy"><span class='glyphicon glyphicon-ok-circle'></span></div>
											<div ng-show="doc.ambiguous==true" class="verifyy"><span class='glyphicon glyphicon-question-sign'></span></div>
										</div>
									</td>
									<td class="action" style="width:65px;"><button type="button" class="btn btn-danger btn-xs remove" ng-click="deletedoc(doc._id,doc._rev);"><span class="glyphicon glyphicon-remove"></span></button>
										<button type="button" class="btn btn-primary btn-xs editbtn" ng-click="editdocPage(doc._id,doc._rev);" ><span class="glyphicon glyphicon-edit"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
						<!--------------------TABLE-END------------------------->
						<div ng-if="(docs | newfilter:customi2html(search.doc.term)).length>=itemsPerPage">
							<!-- code to render a large video block-->
							<div class="pagination">
								<ul>
									<li ng-class="prevPageDisabled()">
										<a href ng-click="prevPage()">« Prev</a>
									</li>
									<li ng-repeat="n in range((docs | newfilter:customi2html(search.doc.term)).length)" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
										<a >{{n+1}}</a>
									</li>
									<li ng-class="nextPageDisabled()">
										<a href ng-click="nextPage()">Next »</a>
									</li>
								</ul>
							</div>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>
