<script>
	function logout()
	{
		localStorage.removeItem('session-user');
		window.location.href="/";
	}
	//var session=localStorage.getItem('session-user');
	if(localStorage.getItem("session-user") === null)
	{
		window.location.href="/";
	}    
	function changeterm()
	{
		//console.log("functioncalled");
		//$('#checkedStrict').trigger('click');
	}                                                              
</script>
   <a href="javascript:void();"> <img src="images/forkme.png" alt="forkme" class="img-responsive forkme" /></a>
        <div class="container  clearfix"  id="main-container" ng-controller="getdataCtrl">
            <div class="col-lg-12 clearfix  mb10 p0 pt10 pb10">
                <div class="col-sm-6 logo p0 valignmiddle mt10">
                      <div class="media">
                          <div class="media-left pull-left">
                            <a href="index.html">
                                <img src="images/logo.png" alt="logo" class="img-responsive dispinblk valignmiddle" />
                            </a>
                          </div>
                          <div class="media-body">
                              <h3 class="dispinblk m0 valignmiddle">Interminable<br /> Accents</h3>
                              <p  class="dispinblk m0 valignmiddle">A proof of concept suggestion builder for Baha’i terms</p>
                          </div>
                       </div>
                </div>
                 <div class="col-sm-6 logo p0 valignmiddle text-right topbutton mt10" style="display:none;">
                    <button type="button" class="btn btn-info txtuppcase "><span class="glyphicon glyphicon-plus mr5"></span>add words</button>
                    <button type="button" class="btn btn-default txtuppcase "><span class="glyphicon glyphicon-ok mr5"></span>Auto Correct</button>
                    <button type="button" class="btn btn-danger txtuppcase " title="Logout" onclick="logout()"><span class="glyphicon glyphicon-off"></span></button>
                 </div>
                <div class="col-sm-5 col-sm-offset-1 logo p0 valignmiddle text-right topbutton mt10" >
					<div class="header">
					  <div class="navbar navbar-default" role="navigation">
						<!--div class="container"-->
						  <div class="navbar-header">

							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
							  <span class="sr-only">Toggle navigation</span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							</button>

							<!--a class="navbar-brand" href="#/">accents</a-->
						  </div>

						  <div class="collapse navbar-collapse" id="js-navbar-collapse" style="padding:0;">

							<ul class="nav navbar-nav">
							  <li><a ng-href="#/allterms">All Terms</a></li>
							  <li class="active"><a href="#/getdata">Add Term</a></li>
							  <li><a ng-href="#/about">Verify Terms</a></li>
							  <li><a class="btn-danger txtuppcase logout" style="color:#ffffff;" title="Logout" onclick="logout()"><span class="glyphicon glyphicon-off"></span></a></li>
							   <li><a  ng-href="#/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
							</ul>
						  </div>
						</div>
					  <!--/div-->
					</div>
                </div>
            </div>                    
             
            <div class="col-lg-12 clearfix mb10 p0 pt10 pb30 addtext mt30">    
                <h3 class="pl15 pr15" id="toptext">Term Add</h3> 
                <h2 class="col-lg-12 clearfix text-center" id="heading-term" ng-bind-html="i2html(customi2html(search.doc.term))" style="color:white;font-weight:bold;margin:10px;margin-top:-60px;">{{search.doc.term}}</h2>
                <div class="col-lg-12 clearfix"> 
                <form class="form-inline clearfix" id="addform">
				 <div class="col-md-12 mb10">
                  <div class="form-group col-sm-6 ">
					 
                    <input type="text" class="form-control chkval"  value="" name="term"   id="term" ng-model-options="{ debounce: 400 }" onfocus="changeterm()" ng-model="search.doc.term" />
                    <input type="hidden" id="keyid"  />
                    <input type="hidden" id="keyrev"  />  
                     <span class="inputexm">Term</span>
                    
                  </div>
                  <div class="form-group posrleative col-sm-6 ">
					  <input type="text" name="reference"  class="form-control chkval" id="reference" ng-model="editdata.ref" value="" />
                     <span class="inputexm">Reference e.g. Iqan pg 72</span>
                     
                   
                  </div>
                  </div>
                   <div class="col-md-12">
                  <div class="form-group posrleative col-sm-6 ">
                     <input type="text" name="original" class="form-control chkval openautochoose" ng-model="editdata.original" style="font-size:20px !important;" />

                       <div class=" col-lg-12">
                                <div class=" autochoose">
                                      <div class="checkbox">
                                        <label><input type="checkbox"/> Word One</label>
                                      </div>
                                      <div class="checkbox">
                                        <label><input type="checkbox"/> Word Two</label>
                                      </div>
                                      <div class="checkbox">
                                        <label><input type="checkbox"/> Word Three</label>
                                      </div>
                                      <div class="checkbox">
                                        <label><input type="checkbox"/> Word Four</label>
                                      </div>
                                      <div class="checkbox">
                                        <label><input type="checkbox"/> Word Five</label>
                                      </div>
                                </div>
                                
                   </div>
                     <span class="inputexm">Original</span>
                     
                  </div>
				  <div class="form-group col-sm-6 ">
                    <input type="text" class="form-control chkval" name="definition" ng-model="editdata.definition" />
                    <span class="inputexm">Notes</span>
                  </div>
				</div>
			   </form>
                </div>   
               
                <div class="col-lg-12 clearfix  mt10   "> 
                  <div class="col-sm-6 clearfix ">
                         <div class="checkbox mt20 dispinblk">
                            <label><input type="checkbox" ng-model="verified"/> Verified</label>
                          </div>
                          <div class="checkbox mt20 dispinblk ml20">
                            <label><input type="checkbox" ng-model="ambiguous"/> Ambiguous</label>
                          </div>
                          <div class="dispinblk ml30 playmic">
                             <a href="javascript:void();" class="disabled">  <img src="images/play.png" alt="mic" /></a>
                          </div>
                          <div class="dispinblk ml10 playmic">
                              <a href="javascript:void();">  <img src="images/mic.png" alt="mic" /></a>
                          </div>
                      </div>
                  <div class="col-sm-6 clearfix"><div class="col-sm-12 clearfix">
                         <button type="submit" class="btn btn-warning pull-right mt20 " id="addword" ng-click="adddata(docs);"><span class="glyphicon glyphicon-plus mr5"></span>Add Words</button>
                         <button type="submit" class="btn btn-warning pull-right mt20 " id="updateword" ng-click="updatedata();"  style="display:none;">
							 <span class="glyphicon glyphicon-edit mr5"></span>Update Words</button>
                         <button type="submit" class="btn btn-danger pull-right mt20 mr20" id="Button2" style="display:none;" ng-click="deletedata();" >
							 <span class="glyphicon glyphicon-trash mr5"></span>Delete</button>
					      <button type="submit" class="btn btn-danger pull-right mt20 mr20" id="Button3" style="display:none;" ng-click="cancelUpdate();" >
							 <span class="glyphicon glyphicon-remove mr5"></span>Cancel</button>
                  </div>  </div> 
                </div>
                
                <div class="col-lg-12 clearfix mt30"> 
                       <div class="col-lg-12 clearfix autosearch-container pt20 pb20"> 
                           <div class="col-lg-12 clearfix"  ng-if="search.doc.term">
							  
                                    <h5 class="mb10 "><span class="mr5">{{(docs|filter:{doc:{ term: customi2html(search.doc.term) } }:true).length}}</span>Whole Word Matches</h5>  
                                        <ul>
                                            <li  ng-repeat="docobj in docs |filter:{ doc: { term: customi2html(search.doc.term) }}:true" >
												<a ng-click="editdoc(docobj.doc._id,docobj.doc._rev);">
													<span class="glyphicon glyphicon-edit mr5"></span>
													<span ng-bind-html="i2html(customi2html(docobj.doc.term))">{{docobj.doc.term}}</span></a></li>
                                            
                                        </ul>
                            </div>

                            <div class="col-lg-12 clearfix mt0" ng-if="search.doc.term">
							
                                    <h5 class="mb10 "><span class="mr5 ">{{(docs|myfilterData:customi2html(search.doc.term)).length}}</span>Partial Matches</h5>  
                                       <div ng-repeat="(key, value)  in docs |groupfilter:customi2html(search.doc.term)" ng-click="getAllRecords('{{key}}',docs)">
								  <span class="glyphicon glyphicon-play mr5 openPanel"></span>	{{key}}-{{value}}
								<div id="showDiv-{{key}}" class="col-md-11 col-md-offset-1"></div>
                               </div>
                                       <!--------------------------------------------------------------------------------------------------------------

                                       <div class="panel-group accentpanel" id="accordion" role="tablist" aria-multiselectable="true">
										   
                                              <div class="panel panel-default"  data-ng-repeat="doc in docs |myfilterData:customi2html(search.doc.term)"  >
                                              
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                  <h4 class="panel-title">
                                                    <a class="rotateonclick" ng-click="editdoc(doc.doc._id,doc.doc._rev);"  data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                                        <span class="glyphicon glyphicon-play mr5 openPanel"></span> <span ng-bind-html="i2html(customi2html(doc.doc.term))">{{doc.doc.term}}</span><span> - 3</span>
                                                    </a>
                                                  </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                                  <div class="panel-body">
                                                         <ul>
                                                            <li class="clearfix pt5 pb5" ><a href="javascript:void()">First Match</a> 
                                                                <div class="pull-right">
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-trash mr5 ml5 deleteIcon pull-right "></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-edit mr5 ml5 pull-right"></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-play-circle mr5 ml5 playIcon pull-right"></span></a>
                                                                </div>
                                                             </li>
                                                             <li class="clearfix pt5 pb5" ><a href="javascript:void()">First Match</a> 
                                                                <div class="pull-right">
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-trash mr5 ml5 deleteIcon pull-right "></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-edit mr5 ml5 pull-right"></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-play-circle mr5 ml5 playIcon pull-right"></span></a>
                                                                </div>
                                                             </li>
                                                             <li class="clearfix pt5 pb5" ><a href="javascript:void()">First Match</a> 
                                                                <div class="pull-right">
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-trash mr5 ml5 deleteIcon pull-right "></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-edit mr5 ml5 pull-right"></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-play-circle mr5 ml5 playIcon pull-right"></span></a>
                                                                </div>
                                                             </li>
                                                           
                                                        </ul>
                                                  </div>
                                                </div>
                                              </div>
                                              <!--div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                  <h4 class="panel-title">
                                                    <a class="collapsed rotateonclick" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                      <span class="glyphicon glyphicon-play mr5 openPanel"></span> Second Match<span> - 4</span>
                                                    </a>
                                                  </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                  <div class="panel-body">
                                                         <ul>
                                                            <li class="clearfix pt5 pb5" ><a href="javascript:void()">S First Match</a> 
                                                                <div class="pull-right">
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-trash mr5 ml5 deleteIcon pull-right "></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-edit mr5 ml5 pull-right"></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-play-circle mr5 ml5 playIcon pull-right"></span></a>
                                                                </div>
                                                             </li>
                                                             <li class="clearfix pt5 pb5" ><a href="javascript:void()">S First Match</a> 
                                                                <div class="pull-right">
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-trash mr5 ml5 deleteIcon pull-right "></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-edit mr5 ml5 pull-right"></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-play-circle mr5 ml5 playIcon pull-right"></span></a>
                                                                </div>
                                                             </li>
                                                             <li class="clearfix pt5 pb5" ><a href="javascript:void()">S First Match</a> 
                                                                <div class="pull-right">
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-trash mr5 ml5 deleteIcon pull-right "></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-edit mr5 ml5 pull-right"></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-play-circle mr5 ml5 playIcon pull-right"></span></a>
                                                                </div>
                                                             </li>
                                                             <li class="clearfix pt5 pb5" ><a href="javascript:void()">S First Match</a> 
                                                                <div class="pull-right">
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-trash mr5 ml5 deleteIcon pull-right "></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-edit mr5 ml5 pull-right"></span></a>
                                                                <a href="javascript:void()"><span class="glyphicon glyphicon-play-circle mr5 ml5 playIcon pull-right"></span></a>
                                                                </div>
                                                             </li>
                                                           
                                                        </ul>
                                                  </div>
                                                </div>
                                              </div-->
                                            
                                            </div>
                                            <!-------------------------------------------------------------------------------------------->
                            </div>
                         </div>
                </div> 
                
                 <div class="col-lg-12 clearfix">                 
                     <h5 class="blankalert"> Ref & Term can't be blank</h5>
                 </div>
            </div>
       <div>{{message}}</div>
        

