
   <a href="javascript:void();"> <img src="images/forkme.png" alt="forkme" class="img-responsive forkme" /></a>
        <div class="container  clearfix"  id="main-container" ng-controller="getdataCtrl">
            <div class="col-lg-12 clearfix  mb10 p0 pt10 pb10">
                <div class="col-sm-6 logo p0 valignmiddle mt10">
                      <div class="media">
                          <div class="media-left pull-left">
                            <a href="index.html">
                                <img src="images/logo.png" alt="logo" class="img-responsive dispinblk valignmiddle" />
                            </a>
                          </div>
                          <div class="media-body">
                              <h3 class="dispinblk m0 valignmiddle">Interminable<br /> Accents</h3>
                              <p  class="dispinblk m0 valignmiddle">A proof of concept suggestion builder for Baha’i terms</p>
                          </div>
                       </div>
                </div>
                 <div class="col-sm-6 logo p0 valignmiddle text-right topbutton mt10">
                    <button type="button" class="btn btn-info txtuppcase "><span class="glyphicon glyphicon-plus mr5"></span>add words</button>
                    <button type="button" class="btn btn-default txtuppcase "><span class="glyphicon glyphicon-ok mr5"></span>Auto Correct</button>
                    <button type="button" class="btn btn-danger txtuppcase " title="Logout"><span class="glyphicon glyphicon-off"></span></button>
                 </div>
                
            </div>                    
             
            <div class="col-lg-12 clearfix mb10 p0 pt10 pb30 addtext mt30">    
                <h3 class="pl15 pr15">Add New Word</h3> 
                <div class="col-lg-12 clearfix"> 
                <form class="form-inline pl15 pr15">
                  <div class="form-group col-sm-5 pr0">
                    <input type="text" class="form-control chkval"  placeholder="New Transliterated Term"/>
                  </div>
                  <div class="form-group posrleative col-sm-5 pr0">
                    <input type="text" class="form-control chkval" placeholder="KA p 25"/>
                    <span class="inputexm">e.g. Iqan pg 72</span>
                  </div>
                  <button type="submit" class="btn btn-warning pull-right" id="addword"><span class="glyphicon glyphicon-plus mr5"></span>Add Words</button>
                </form>
                </div>   
                 <div class="col-lg-12 clearfix">                 
               <h5 class="blankalert"> Ref & Term can't be blank</h5>
               </div>
            </div>
       
        <div class="col-lg-12 clearfix  mb10 p0 pt10 pb30 mt30">
                <div role="tabpanel">
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
                        <li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Filtered</a></li>
                      </ul>
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <h3>Terms Collected: {{count}}</h3>
                            <!----------------TABLE---------------------->
                           
                        <div class="table-responsive tablecontainer mt10">
                             <table class="table  table-bordered ">
                                  <thead>
                                     <tr>
                                         <th>id</th>
                                         <th>Orig</th>
                                         <th>Suggestion</th>   
                                         <th>Reference</th> 
                                         <th>Contributor</th> 
                                         <th></th> 
                                       </tr>
                                   </thead>
                      <tbody>
						  
                      <tr ng-repeat="doc in docs">
						  
						 
                        <td class="id" ng-model="did">{{doc.doc.id}}</td>
                        <td class="term">{{doc.doc.original}}</td>
                        <td class="term">{{doc.doc.definition}}</td>
                        <td class="ref">{{doc.doc.ref}}</td>
                        <td class="user">{{doc.doc.user}}</td>
                        <td class="action"><button type="button" class="btn btn-danger btn-xs remove" ng-click="deletedoc(doc.doc.id);"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>

                </table>
                        </div>
                          <!--------------------TABLE-END------------------------->
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                          <!----------------TABLE---------------------->
                            <div class="table-responsive tablecontainer mt20">
                                 <table class="table  table-bordered">
                                     <thead><tr> <th>Term</th> <th>Count</th> </tr></thead>
                                            <tbody><tr>
                                        <td class="term">Ab</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Áb</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Abá</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">‘Abá</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Abá-Baṣír</td>
                                        <td class="count">2</td>
                                    </tr><tr>
                                        <td class="term">‘Abá-Baṣír</td>
                                        <td class="count">1</td>
                                    </tr><tr>
                                        <td class="term">Ábád</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Ábádih</td>
                                        <td class="count">1</td>
                                    </tr><tr>
                                        <td class="term">‘Abbás</td>
                                        <td class="count">4</td>
                                    </tr>

                                 </table>
                             </div>
                          <!----------------TABLE-END--------------------->
                        </  div>
                      </div>
                    </div>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modalDialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Confirm Row Delete</h4>
                              </div>
                              <div class="modal-body text-center">
                                <h4>Are You Sure?</h4>
                              </div>
                              <div class="modal-footer text-center m0">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger">Yes</button>
                              </div>
                            </div>
                          </div>
                    </div>
         </div>
        </div>
  
