<script>
	function logout()
	{
		localStorage.removeItem('session-user');
		window.location.href="/";
	}
	if(localStorage.getItem("session-user") === null)
	{
		window.location.href="/";
	}
	function playPause(callingElement)
	{
		 if(callingElement.firstChild.paused){			
			callingElement.firstChild.play();
			callingElement.firstChild.nextSibling.className="glyphicon glyphicon-stop red";			
		}
		else{
			callingElement.firstChild.pause();
			callingElement.firstChild.nextSibling.className="glyphicon glyphicon-play green";	
		}
	}
	function endaudio(callingElement)
	{
		callingElement.nextSibling.className="glyphicon glyphicon-play green";	
	}
</script>
<div ng-controller="getdataCtrl">
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">All Recordings</h4>
		  </div>
		  <div class="modal-body">
			  <ul id="editRecording"></ul>
			<ul id="recordingslist"></ul>
		  </div>
		</div>
	  </div>
	</div>
	<!-- Modal end -->
	<div class="col-lg-12 clearfix mb10 p0 pt10 pb30 addtext mt30">
		<div class="col-lg-12 mobile-margin">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					 <h2 class="pl15 pr15" style="font-weight:bold;"><div  id="toptext" style="display:inline;">Add: </div>
					 <div id="heading-term" style="display:inline;margin-left: 10px;" ng-model="headingterm"></div></h2>
				</div>
			</div>
		</div>
		<div class="col-lg-12 clearfix">
			<form class="form-inline clearfix" id="addform" name="addform" >
				<div class="col-md-12">
					<div class="form-group col-sm-6 ">
						<input type="text" class="form-control chkval" ng-keyup="changeTerm()" ng-enter="adddata(docs)" name="term" id="term" style="font-size:20px !important;" ng-model-options="{ debounce: 1000 }" ng-minlength="3" ng-model="search.doc.term" />
						<input type="hidden" id="keyid"  />
						<span class="inputexm">Term</span>
					</div>
					<div class="form-group posrleative col-sm-6 ">
						<input type="text" name="reference"  class="form-control chkval" id="reference" ng-model="editdata.ref" value="" ng-model-options="{ debounce: 250 }" ng-enter="adddata(docs)"/>
						<span class="inputexm">Reference e.g. Iqan pg 72</span>				
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group posrleative col-sm-6 ">
						<input type="text" name="original" class="form-control chkval openautochoose"  id="original" ng-model-options="{ debounce: 250 }" ng-enter="adddata(docs)" ng-model="editdata.original" style="font-size:20px !important;" ng-change="checkVerifiedCheckBox()"/>
						<span class="inputexm">Original</span>
					</div>
					<div class="form-group col-sm-6 ">
						<input type="text" class="form-control chkval" name="definition" ng-model-options="{ debounce: 250 }" ng-model="editdata.definition" ng-enter="adddata(docs)" id="definition" />
						<span class="inputexm">Notes</span>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-12 clearfix  mt10">
			<div class="col-sm-5 col-md-5 clearfix ">
				<div class="checkbox mt20 dispinblk">
					<label style="padding-left:13px;"><input type="checkbox" ng-model="verified" id="verifiedCheckbox" ng-checked="editdata.verify==1  || editdata.verified==true"/> Verified</label>
				</div>
				<div class="dispinblk playmic" id="allrecords">
					<a id="playButton"><span class="glyphicon glyphicon-play"></span></a>
				</div>
				<div class="dispinblk playmic">
					<button id='start' class="recordButton"><span class="glyphicon glyphicon-record"></button>
				</div>
				<div class="dispinblk playmic">
					<button id='stop' class="playButton" ><span class="glyphicon glyphicon-stop"></span></button>
				</div>
				<div id="display"></div>					
			</div>
			<div class="col-sm-7 col-md-7 clearfix">
				<div class="col-sm-12 clearfix">
					<button type="submit" class="btn btn-warning pull-right mt20 " id="addword" ng-click="adddata(docs);">
						<span class="glyphicon glyphicon-plus mr5"></span>Add Term
					</button>
					<button type="submit" class="btn btn-warning pull-right mt20 " id="updateword" ng-click="updatedata(docs);"  style="display:none;">
						<span class="glyphicon glyphicon-edit mr5"></span>Update
					</button>
					<button type="submit" class="btn btn-danger pull-right mt20 mr20" id="Button2" style="display:none;" ng-click="deletedata(docs);" >
						<span class="glyphicon glyphicon-trash mr5"></span>Delete
					</button>
					<button type="submit" class="btn btn-danger pull-right mt20 mr20" id="Button3" style="display:none;" ng-click="cancelUpdate();" >
						<span class="glyphicon glyphicon-remove mr5"></span>Cancel
					</button>
				</div>  
			</div>
		</div>
		<!--=========================SIMPLE EDIT AND SEARCH=============================-->
		<div class="col-lg-12 clearfix mt30" >
			<div class="col-lg-12 clearfix  pt20 pb20">
				<div class="col-lg-12 clearfix autosearch-container"  ng-if="search.doc.term">
					<h5 class="mb10 ">
						<span class="mr5">{{wholeWordFilterCount(search.doc.term)}}</span>Whole Word Matches
					</h5>
					<div ng-repeat="key in objectKeys(wholeWordFilter(search.doc.term))"  class="col-md-12" >
						<div ng-repeat="t in wholeWordFilter(search.doc.term)[key]" >
							<span ng-bind-html="i2html(customi2html(t.term))"></span>
							<span class="glyphicon glyphicon-ok-circle ml10" ng-if="t.verified==true"  style="margin-left: 5px;"></span>
							<span class="glyphicon glyphicon-question-sign" ng-if="t.ambiguous==true"  style="margin-left: 5px;"></span>
							<button  ng-click="editdoc(t._id,t._rev);" class="btn btn-primary btn-xs editbtn mb10" type="button" style="margin-left: 10px;">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button ng-click="deletedoc(t._id,t._rev,docs);" class="btn btn-danger btn-xs remove mb10" type="button" style="float:none;margin-left: 10px;">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							&nbsp;
							<div class="otherData">
								<div class="notesClass" ng-show="t._attachments!=''" id="audio-{{t._id}}">{{convertAttachment(t._id)}}</div>
								<div class="notesClass" ng-show="t.original!=''">{{t.original}}&nbsp;</div>
								<div class="notesClass" ng-show="t.ref!=''"> {{t.ref}}&nbsp;</div>
								<div class="notesClass" ng-show="t.definition!=''"> {{t.definition}}&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 clearfix mt0 autosearch-container" ng-if="search.doc.term">
					<h5 class="mb10 ">
						<span class="mr5 ">{{groupfiltercount(search.doc.term)}}</span>Partial Matches
					</h5>
					<div ng-repeat="key in objectKeys(groupfilter(search.doc.term))" class="searchGroup"  ng-click="getAllRecords('{{key}}')">
						<span class="glyphicon glyphicon-play mr5 openPanel" id="sideIcon-{{key}}"></span>	
						<u ng-bind-html="i2html(customi2html(key))"></u>								 
						<span ng-show="groupfilter(search.doc.term)[key].length!=1">({{groupfilter(search.doc.term)[key].length}})</span>
						<span  ng-show="groupfilter(search.doc.term)[key].length==1">
							<span class="glyphicon glyphicon-ok-circle ml10" ng-if="groupfilter(search.doc.term)[key][0].verified==true"   style="margin-left: 5px;"></span>
							<span class="glyphicon glyphicon-question-sign" ng-if="groupfilter(search.doc.term)[key][0].ambiguous==true"  style="margin-left: 5px;"></span>
							<button  ng-click="editdoc(groupfilter(search.doc.term)[key][0]._id,groupfilter(search.doc.term)[key][0]._rev);" class="btn btn-primary btn-xs editbtn mb10" type="button"  style="margin-left: 10px;">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button ng-click="deletedoc(groupfilter(search.doc.term)[key][0]._id,groupfilter(search.doc.term)[key][0]._rev,docs);" class="btn btn-danger btn-xs remove mb10" type="button" style="float:none;margin-left: 10px;">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>							
						<div id="showDiv-{{key}}" class="col-md-11 col-md-offset-1 subGroup" ng-show="groupfilter(search.doc.term)[key].length!=1">
							<div ng-repeat="t in groupfilter(search.doc.term)[key]" >
								<span ng-bind-html="i2html(customi2html(t.term))">{{t.term}}</span>
								<span class="glyphicon glyphicon-ok-circle ml10" ng-if="t.verified==true"  style="margin-left: 5px;"></span>
								<span class="glyphicon glyphicon-question-sign" ng-if="t.ambiguous==true"  style="margin-left: 5px;"></span>
								<button  ng-click="editdoc(t._id,t._rev);" class="btn btn-primary btn-xs editbtn mb10" type="button" style="margin-left: 10px;">
								<span class="glyphicon glyphicon-edit"></span>
								</button>
								<button ng-click="deletedoc(t._id,t._rev,docs);" class="btn btn-danger btn-xs remove mb10" type="button" style="float:none;margin-left: 10px;">
								<span class="glyphicon glyphicon-remove"></span>
								</button>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
    <div>{{message}}</div>
</div>

