<script>
	//$("#main-container").loader('show','<img src="images/loading-x.gif">');
</script>
<div class="addtext row" ng-controller="getdataCtrl" ng-init="settingsInit()">
	<h2 class="pl15 pr15" style="font-weight:bold;">Utilities</h2>
	<div class="panel-box">
		<div class="row mb10">
			<div class="col-sm-10 col-xs-10 ">
				<div class="col-sm-8 col-xs-8">
					<h4 class="remoteUrl"><label>{{remoteDbUrl}}</label></h4>
				</div>	
				<div class="col-sm-4 col-xs-2 text-right">	
					<input type="checkbox" ng-checked="liveReplicate"  id="liveReplicate" name="liveReplicate" ng-click="changeLiveReplicate();"  class="replicateCheckbox"/>
					<!--Button for mobile view-->
					<div class="visible-xs-block">						
						<button type="button" class="btn btn-primary btn-xs" ng-click="changeDb();" title="Edit" style="width:auto;">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button type="button" class="btn btn-primary btn-xs" ng-click="replicateToRemote();"  title="Replicate" style="width:auto;" >
							<span class="glyphicon glyphicon-book"></span>
						</button>
					</div>				
					<!--Button for other view-->
					<div class="hidden-xs">
						<button type="button" class="btn btn-primary" ng-click="changeDb();" title="Edit" >
							Edit
						</button>
						<button type="button" class="btn btn-primary" ng-click="replicateToRemote();"  title="Replicate"  >
							Replicate
						</button>
					</div>				
				</div>					
			</div>
			<div class="col-sm-2 col-xs-2" >
				<button type="button" class="btn btn-primary btn-circle" id="sencondClick" ng-click="slideShow('secondBox');">
				<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
				</button>
			</div>
		</div>		
		<div class="row" id="secondBox" style="display:none;">
			<div class="col-sm-10 col-xs-10">
				<div class="well first-well">
					<h4>Replicate Database</h4>
					<p>
						Replicate Database
					</p>
				</div>
			</div>
		</div>
		<div class="row mb10">
			<div class="col-sm-10 col-xs-10 cleanup">
				<button class="btn btn-primary btn-block" ng-click="cleanupAndCompress()">
					<span class="glyphicon glyphicon-trash" style="float: left !important;margin-left: 2% !important;"></span>
					Cleanup & Compress Database
				</button>
			</div>
			<div class="col-sm-2 col-xs-2" >
				<button type="button" class="btn btn-primary btn-circle" id="firstClick" ng-click="slideShow('firstBox');">
				<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
				</button>
			</div>
		</div>
		<div class="row" id="firstBox" style="display:none;">
			<div class="col-sm-10 col-xs-10">
				<div class="well first-well">
					<h4>Cleanup Database</h4>
					<p>
						<ul>
							<li>
								Remove records which exactly match another record -- 
								comparing the four primary content fields which are:   
								<b>term, source, original </b>and<b> definition</b>
							</li>
							<li>
								Add a <b>word-family</b> field to all records missing this field
							</li>
							<li>
								Remove all but the following fields:
								<ul>
									<li><b>term, source, original, definition, type, user, word-family, verified, ambiguous, audio, _id</b> and <b> _rev</b></li>
								</ul>
							</li>
						</ul>
					</p>
					<h4>Compress Records</h4>
					<p>
						<ul>
							<li>Set all fields with an <b>original</b> entry to <b>verified</b>.</li>
							<li>
								If a word-family group contains more than one verified record, set each to <b>ambiguous</b>
								<ul>
								<li>For all word families with at least one ambiguous record, mark all other records in that word family as ambiguous</li>
								</ul>
							</li>
							<li>For each word family containing just one verified record, delete non-verified records -- appending their <b>reference</b> values to the <b>reference</b> field of the one remaining verified record. (Comma + space delimited)</li>										
						</ul>
					</p>
				</div>
			</div>
		</div>
		<h2 class="blankalert">{{message}}</h2>
	</div>


	
	<div class="col-md-8 col-md-offset-2" id="progressbar" style="display:none;height:150px;top:20px;">
		{{downloadMessage}}
		<progressbar value="data.progress" class="progress-striped active"><b>{{data.progress}}%</b></progressbar>
	</div>



	
<!--
	<script type="text/ng-template" id="progressbarModal.html" >
        <div class="modal-header">
            <h3 class="modal-title">Database Credentials</h3>
        </div>
        <form ng-submit="submitDbData()">
			<div class="modal-body">           
					<progressbar value="varnew" class="progress-striped active" ><b>{{varnew}}%</b></progressbar>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="cancel()">Close</button>
			</div>        
		</form>
    </script>
-->

</div>


