<script>
	function logout()
	{
		localStorage.removeItem('session-user');
		window.location.href="/";
	}
	//var session=localStorage.getItem('session-user');
	if(localStorage.getItem("session-user") === null)
	{
		window.location.href="/";
	}    
	function changeterm()
	{
		//console.log("functioncalled");
		//$('#checkedStrict').trigger('click');
	}                                                              
</script>
   <!-- <a href="javascript:void();"> <img src="images/forkme.png" alt="forkme" class="img-responsive forkme" /></a>-->
        <div class="container  clearfix"  id="main-container" ng-controller="getdataCtrl">
            <div class="col-lg-12 clearfix  mb10 p0 pt10 pb10">
                <div class="col-sm-6 logo p0 valignmiddle mt10">
                      <div class="media">
                          <div class="media-left pull-left">
                            <a href="index.html">
                                <img src="images/ocean-logo.svg" alt="logo" class="img-responsive dispinblk valignmiddle" style="height: 56px;" />
                            </a>
                          </div>
                          <div class="media-body">
                              <h3 class="dispinblk m0 valignmiddle">Interminable<br /> Accents</h3>
                              <p  class="dispinblk m0 valignmiddle">A proof of concept suggestion builder for Baha’i terms</p>
                          </div>
                       </div>
                </div>
                 <div class="col-sm-6 logo p0 valignmiddle text-right topbutton mt10" style="display:none;">
                    <button type="button" class="btn btn-info txtuppcase "><span class="glyphicon glyphicon-plus mr5"></span>add words</button>
                    <button type="button" class="btn btn-default txtuppcase "><span class="glyphicon glyphicon-ok mr5"></span>Auto Correct</button>
                    <button type="button" class="btn btn-danger txtuppcase " title="Logout" onclick="logout()"><span class="glyphicon glyphicon-off"></span></button>
                 </div>
                <div class="col-md-5 col-md-offset-1 col-sm-5 custom-width-media logo p0 valignmiddle text-right topbutton mt10" >
					<div class="header">
					  <div class="navbar navbar-default" role="navigation">
						<!--div class="container"-->
						  <div class="navbar-header">

							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
							  <span class="sr-only">Toggle navigation</span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							</button>

							<!--a class="navbar-brand" href="#/">accents</a-->
						  </div>

						  <div class="collapse navbar-collapse" id="js-navbar-collapse" >

							<ul class="nav navbar-nav">
							  <li><a ng-href="#/allterms">All Terms</a></li>
							  <li><a href="#/getdata">Add</a></li>
								<!-- <li><a ng-href="#/about">Verify</a></li>-->
								<li>
								  <a class="btn-danger txtuppcase logout" title="Logout" onclick="logout()">
								  <span class="glyphicon glyphicon-off"></span></a>
								</li>
							   <li class="active"><a ng-href="#/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
							</ul>
						  </div>
						</div>
					  <!--/div-->
					</div>
                </div>
            </div>                    
             
            <div class="col-lg-12 clearfix mb10 p0 pt10 pb30 addtext mt30">
				<h3 class="pl15 pr15">Data Cleanup Utilities</h3>
				<div class="panel-box">
					<div class="row mb10">
						<div class="col-sm-10 col-xs-10">
							<button class="btn btn-primary btn-block" ng-click="deleteDuplicate(docs)">
								<span class="glyphicon glyphicon-trash" style="float: left !important;margin-left: 2% !important;"></span>
								 Cleanup Database
							</button>
						</div>
						<div class="col-sm-2 col-xs-2" >
							<button type="button" class="btn btn-primary btn-circle" id="firstClick" ng-click="slideShow('firstBox');">
								<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
							</button>
						</div>
					</div>
					<div class="row" id="firstBox" style="display:none;">
						<div class="col-sm-10 col-xs-10">
							<div class="well first-well">
								<h4>Cleanup Database</h4>
								<p>
									


									<ul>
										<li>
											Remove records which exactly match another record -- 
											comparing the four primary content fields which are:   
											<b>term, source, original </b>and<b> definition</b>
										</li>
										<li>
											Add a <b>word-family</b> field to all records missing this field
										</li>
										<li>
											Remove all but the following fields:
											<ul>
												<li><b>term, source, original, definition, type, user, word-family, verified, ambiguous, audio, _id</b> and <b> _rev</b></li>
											</ul>
										</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<!--
					<div class="row mb10">
						<div class="col-sm-10 col-xs-10">
							<button class="btn btn-success btn-block" ng-click="changeVerify(docs)">
								<span class="glyphicon glyphicon-wrench" style="float: left !important;margin-left: 2% !important;"></span>
								Set original to Verified
							</button>
						</div>
						<div class="col-sm-2 col-xs-2" >
								<button type="button" class="btn btn-success btn-circle"  ng-click="slideShow('secBox');">
									<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
								</button>
							</div>
						</div>
						<div class="row" id="secBox" style="display:none;">
							<div class="col-sm-10 col-xs-10">
								<div class="well second-well">
									<h4>Set original to Verified</h4>
									<p>Set original to Verified</p>
								</div>
							</div>
						</div>						
					<div class="row mb10">
						<div class="col-sm-10 col-xs-10">
							<button class="btn btn-info btn-block" ng-click="addFamilyField(docs)">
								<span class="glyphicon glyphicon-th-list" style="float: left !important;margin-left: 2% !important;"></span>
								Add "Word Family" Field
							</button>
						</div>
						<div class="col-sm-2 col-xs-2" >
							<button type="button" class="btn btn-info btn-circle"  ng-click="slideShow('thirdBox');">
								<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
							</button>
						</div>
					</div>
					<div class="row" id="thirdBox" style="display:none;">
						<div class="col-sm-10 col-xs-10">
							<div class="well third-well">
								<h4>Add "Word Family" Field</h4>
								<p>Add "Word Family" Field</p>
							</div>
						</div>
					</div>
					-->
					<div class="row mb10">
						<div class="col-sm-10 col-xs-10">
							<button class="btn btn-warning btn-block" ng-click="changeVerify(docs)">
								<span class="glyphicon glyphicon-compressed" style="float: left !important;margin-left: 2% !important;"></span>
								Compress Records
							</button>
						</div>
						<div class="col-sm-2 col-xs-2" >
								<button type="button" class="btn btn-warning btn-circle"  ng-click="slideShow('fourthBox');">
									<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
								</button>
							</div>
						</div>
					<div class="row" id="fourthBox" style="display:none;">
						<div class="col-sm-10 col-xs-10">
							<div class="well fourth-well">
								<h4>Compress Records</h4>
								<p>
									<ul>
										<li>Set all fields with an <b>original</b> entry to <b>verified</b>.</li>
										<li>
											If a word-family group contains more than one verified record, set each to <b>ambiguous</b>
											<ul>
												<li>For all word families with at least one ambiguous record, mark all other records in that word family as ambiguous</li>
											</ul>
										</li>
										<li>For each word family containing just one verified record, delete non-verified records -- appending their <b>reference</b> values to the <b>reference</b> field of the one remaining verified record. (Comma + space delimited)</li>										
									</ul>
								</p>
							</div>
						</div>
					</div>
					<!--
					<div class="row mb10">
						<div class="col-sm-10 col-xs-10">
							<button class="btn btn-danger btn-block" ng-click="markAmbiguous(docs)">
								<span class="glyphicon glyphicon-exclamation-sign" style="float: left !important;margin-left: 2% !important;"></span>
								Mark Ambiguous
							</button>
						</div>
						<div class="col-sm-2 col-xs-2" >
								<button type="button" class="btn btn-danger btn-circle"  ng-click="slideShow('fifthBox');">
									<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
								</button>
							</div>
						</div>
					<div class="row" id="fifthBox" style="display:none;">
						<div class="col-sm-10 col-xs-10">
							<div class="well fifth-well">
								<h4>Mark Ambiguous</h4>
								<p>Mark Ambiguous</p>
							</div>
						</div>
					</div>
					<div class="row mb10">
						<div class="col-sm-10 col-xs-10">
							<button class="btn btn-primary btn-block" ng-click="cleanupRecords(docs)">
								<span class="glyphicon glyphicon-remove-sign" style="float: left !important;margin-left: 2% !important;"></span>
								Cleanup Records
							</button>
						</div>
						<div class="col-sm-2 col-xs-2" >
								<button type="button" class="btn btn-primary btn-circle"  ng-click="slideShow('sixthBox');">
									<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
								</button>
							</div>
						</div>
					<div class="row" id="sixthBox" style="display:none;">
						<div class="col-sm-10 col-xs-10">
							<div class="well sixth-well">
								<h4>Cleanup Records</h4>
								<p>Cleanup Records</p>
							</div>
						</div>
					</div>
					<div class="row mb10">
						<div class="col-sm-10 col-xs-10">
							<button class="btn btn-success btn-block" ng-click="showVerifyView(docs)">
								<span class="glyphicon glyphicon-check" style="float: left !important;margin-left: 2% !important;"></span>
								Verify View
							</button>
						</div>
						<div class="col-sm-2 col-xs-2" >
								<button type="button" class="btn btn-success btn-circle"  ng-click="slideShow('seventhBox');">
									<span class="glyphicon glyphicon-question-sign" style="color:white;"></span>
								</button>
							</div>
						</div>
					<div class="row" id="seventhBox" style="display:none;">
						<div class="col-sm-10 col-xs-10">
							<div class="well seventh-well">
								<h4>Verify View</h4>
								<p>Verify View</p>
							</div>
						</div>
					</div>
				</div>
				-->
				<div class="col-lg-12 clearfix">                 
                     <h5 class="blankalert" style="display:block;"> {{message}}</h5>
                 </div>
				
            </div> 
            <!--
        <div class="col-lg-12 clearfix  mb10 p0 mt10">
                <div role="tabpanel">
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <h3>Terms Collected: {{(docs | newfilter:search.doc.term).length}}</h3>
                            <input type="hidden" value="{{(docs | filter:search).length}}" name="totalRows" ng-model="rowxount" id="totalRows"/>
                            <!----------------TABLE---------------------
                        <div class="table-responsive tablecontainer mt10" ng-controller="PaginationCtrl">
                             <table class="table  table-bordered ">
                                  <thead>
                                     <tr>
                                         <th>Term</th>
                                         <th>Reference</th>   
                                         <th>Original</th> 
                                         <th>Notes</th> 
                                         <th></th> 
                                       </tr>
                                   </thead>
                      <tbody>
						   
                 <tr ng-repeat="doc in docs | newfilter:search.doc.term | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
						 
                        <!--td class="id" ng-model="did">{{doc.doc.id}}</td->
                        <td class="term" ng-bind-html="i2html(customi2html(doc.doc.term))">{{doc.doc.term}}</td>
                        <td class="term" ng-model="terms">{{doc.doc.ref}}</td>
                        <td class="ref">{{doc.doc.original}}</td>
                        <td class="user">{{doc.doc.definition}}</td>
                        <td class="action"><button type="button" class="btn btn-danger btn-xs remove" ng-click="deletedoc(doc.doc._id,doc.doc._rev);"><span class="glyphicon glyphicon-remove"></span></button>
                        <button type="button" class="btn btn-primary btn-xs editbtn" ng-click="editdocPage(doc.doc._id,doc.doc._rev);" ><span class="glyphicon glyphicon-edit"></span></button>
                        </td>
                    </tr>
					
 <img id="spinner" ng-src="images/loading-x.gif" style="display:none;width:50px;height:50px;text-align:center;">
                </table>
                <div class="pagination" style="display:none;">
						<ul>
							<li ng-class="prevPageDisabled()">
								<a href ng-click="prevPage()">« Prev</a>       
							</li>
							<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
								<a >{{n+1}}</a>
							</li>
							<li ng-class="nextPageDisabled()">
								<a href ng-click="nextPage()">Next »</a>
							</li>
						</ul>
					</div>
                        </div>
                          <!--------------------TABLE-END-------------------------
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                          <!----------------TABLE---------------------- 
                            <div class="table-responsive tablecontainer mt20">
                                 <table class="table  table-bordered">
                                     <thead><tr> <th>Term</th> <th>Count</th> </tr></thead>
                                            <tbody><tr>
                                        <td class="term">Ab</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Áb</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Abá</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">‘Abá</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Abá-Baṣír</td>
                                        <td class="count">2</td>
                                    </tr><tr>
                                        <td class="term">‘Abá-Baṣír</td>
                                        <td class="count">1</td>
                                    </tr><tr>
                                        <td class="term">Ábád</td>
                                        <td class="count">3</td>
                                    </tr><tr>
                                        <td class="term">Ábádih</td>
                                        <td class="count">1</td>
                                    </tr><tr>
                                        <td class="term">‘Abbás</td>
                                        <td class="count">4</td>
                                    </tr>

                                 </table>
                             </div>
                          <!----------------TABLE-END--------------------->
                        </  div>
                      </div>
                    </div>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modalDialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Confirm Row Delete</h4>
                              </div>
                              <div class="modal-body text-center">
                                <h4>Are You Sure?</h4>
                              </div>
                              <div class="modal-footer text-center m0">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger">Yes</button>
                              </div>
                            </div>
                          </div>
                    </div>
         </div>
        </div>


